main {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px;
    background-color: #360062;
}
main section
{
    height:250px;
    background-color: lightblue;;
    margin: 1rem;
    height: 250px;
    background-color: lightblue;
    margin: 1rem;
    font-size: 7rem;
    text-align: center;
    line-height: 1rem;
}
.hideP{display: none;}
.showP{display: inline;}