
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Student -> Index.cshtml</h1>
        <h1>Student controller da bulunan Index metodu isteğinizi bu sayfaya yönlendirdi.</h1>
        <h2><a href="/Home/Index">INDEX</a></h2>
    </div>
</body>
</html>
